[*.cs]

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = discard_variable

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none
